body {
    font-family: Arial, sans-serif;
    font-size: var(--step-0);
}

h1 {
    font-size: var(--step-4);
}
h2 {
    font-size: var(--step-3);
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}
h5 {
    font-size: var(--step-0);
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    margin-bottom: 1em;
}

main {
    margin-inline: auto;
    padding-inline: var(--space-l);
    max-width: 80ch;
    margin-top: var(--space-3xl);
}
