body {
  margin: 0 auto;
  padding-inline: 2rem;
  max-width: 90ch;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

[data-day-item] {
  display: inline-block;
  min-width: 2.5ch;
  text-align: center;
  padding-inline: 0.3em;
}
[data-day-item][data-bg] {
  color: white;
}
[data-day-item][data-month] {
  font-weight: bold;
}
