body {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-size: var(--step-0);
  background-color: lightsteelblue;
  margin: 0;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 1em;
}

a {
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.12em;
  color: black;
}

a:valid {
  color: black;
}

:link:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
