.rendered-ritual {
  font-size: var(--step-2);

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    margin-block-end: var(--space-2xs);
  }

  input[type="checkbox"] {
    width: 1em;
    height: 1em;
    accent-color: cornsilk;
  }
}
