#calendarContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 95vh);
  font-size: 9pt;
  grid-auto-flow: dense;
  column-gap: 3pt;
  row-gap: 3rem;
  padding-bottom: 5pt;
}

.monthContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(31, 1fr);
  align-items: end;
  border-bottom: 2pt solid black;
}

.month {
  border-bottom: 2pt solid black;
  font-weight: bold;
  font-size: 11pt;
  line-height: 1.1;
}

.day {
  line-height: 1;
}

.calendarItem[data-dayofweek='0'] {
  border-bottom: solid 1pt black;
}

.calendarItem:last-child {
  border-bottom: none;
}
