#calendarContainer {
  --fontsize-headings: 14pt;
  --fontsize-entries: 11pt;
  --linewidth-regular: 1pt;
  --linewidth-bold: 2pt;

  --calendar-row-height: 98vh;

  display: grid;
  column-gap: var(--space-l);
  padding-bottom: 5pt;
  row-gap: var(--space-l);
  @media print {
    --fontsize-entries: max(9pt, calc(0.015 * 100cqh));
    --linewidth-regular: max(0.5pt, calc(0.001 * 100cqh));
    --linewidth-bold: max(1.5pt, calc(0.003 * 100cqh));
    row-gap: 4vh;
  }
}

#calendarContainer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.day {
  padding: 0.3em;
  line-height: 1;
  font-size: var(--fontsize-entries);
  text-align: center;
}

.day-name {
  text-align: center;
  border-bottom: var(--linewidth-bold) solid black;
  line-height: 1;
  margin-bottom: 0.3em;
}

.week-number {
  text-align: end;
}

.calendarItem[data-cycleweek='4'] {
  margin-bottom: var(--space-xs);
}

#calendarContainer[data-shadeWeekends='true'] .calendarItem[data-dayofweek='0'],
#calendarContainer[data-shadeWeekends='true'] .calendarItem[data-dayofweek='6'] {
  background-color: var(--bg-grey);
}

.calendarItem:nth-last-child(-n + 3) {
  border-bottom: none;
}

.quarterContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
