body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  font-weight: normal;
  line-height: 1.6;
  color: var(--black);
  background-color: var(--off-white);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.1;
  }
}
